<div class="modal fade modal-lg" id="changeWordDoc" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">Selecionar Documento</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">Adicionar Documento</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="change-tab" data-bs-toggle="tab" data-bs-target="#change-tab-pane"
                            type="button" role="tab" aria-controls="change-tab-pane" aria-selected="false">Modificar
                            documento selecionado</button>
                    </li>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </ul>
                <!-- Content -->
                <div class="tab-content mt-3" id="myTabContent">
                    <!-- Select Doc -->
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                        tabindex="0">
                        <form action="/alter" method="post">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Atual</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Diretório</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doc_name, doc in docs.items() %}
                                    <tr>
                                        <th scope="row">{{ keys.index(doc_name)+1 }}</th>
                                        <td>
                                            <input class="form-check-input" type="radio" name="options"
                                                value="{{ doc_name }}" id="{{ doc_name }}" {% if doc['active']==True %}
                                                checked>
                                            {% else %}
                                            >
                                            {% endif %}
                                        </td>
                                        <td for="{{ doc_name }}">{{ doc_name }}</td>
                                        <td for="{{ doc_name }}">{{ doc["save_directory"] }}</td>
                                        <td class="col justify-content-right">
                                            {% if doc['active'] == False %}
                                            <a href="/delete/{{doc_name}}" class="btn btn-outline-danger">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <input class="btn btn-primary w-100" type="submit" value="Alterar">
                        </form>
                    </div>
                    <!-- Add new Doc -->
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                        tabindex="0">
                        <form action="/add" method="post" class="w-100">
                            <div class="d-grid">
                                <div class="input-group mb-2 mx-auto">
                                    <label class="btn btn-primary btn-block text-center disabled" for="fileInput"
                                        width="25" height="25">
                                        <i class="fa-solid fa-file-word fa-lg"></i>
                                    </label>
                                    <input type="text" id="textInput" name="doc_path" class="form-control"
                                        placeholder="Direório para o novo template de documento" required>
                                </div>
                                <div class="input-group m-2 mx-auto">
                                    <label class="btn btn-primary btn-block text-center disabled" for="fileInput"
                                        width="25" height="25">
                                        <i class="fa-solid fa-folder"></i>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Diretório de salvamento"
                                        aria-label="Diretório de salvamento" name="target_path"
                                        aria-describedby="button-addon2" required>
                                </div>
                                <input class="btn btn-primary w-100 mt-3" type="submit" value="Adicionar">
                            </div>
                        </form>
                    </div>
                    <!-- Change selected Doc -->
                    <div class="tab-pane fade" id="change-tab-pane" role="tabpanel" aria-labelledby="change-tab"
                        tabindex="0">
                        <form action="/change_directory" method="post" class="w-100">
                            <div class="d-grid">
                                <div class="input-group mb-2 mx-auto">
                                    <label class="btn btn-primary btn-block text-center disabled" for="fileInput"
                                        width="25" height="25">
                                        <i class="fa-solid fa-file-word fa-lg"></i>
                                    </label>
                                    <input type="text" class="form-control" name="doc_name"
                                        value="{{ cur_doc['name'] }}" readonly>
                                </div>
                                <div class="input-group m-2 mx-auto">
                                    <label class="btn btn-primary btn-block text-center disabled" for="fileInput"
                                        width="25" height="25">
                                        <i class="fa-solid fa-folder"></i>
                                    </label>
                                    <input type="text" class="form-control" aria-label="Diretório de salvamento"
                                        name="target_path" aria-describedby="button-addon2"
                                        value="{{ cur_doc['save_directory'] }}">
                                </div>
                                <input class="btn btn-primary w-100 mt-3" type="submit" value="Alterar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>