{% extends 'template.html' %}

{% block content %}
<div class="container my-5">
    <div class="row p-3 py-5 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="px-4 text-center">
            <img class="d-block mb-3 mx-auto" src="{{ url_for('static', filename='word_logo_small.png') }}"
                alt="Word logo">
            <h1 class="display-5 fw-bold">Número Inválido</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">O número digitado não está no padrão utilizado pelo Service-Now. Por favor clique
                    no botão RETORNAR para voltar a página anteriror e tente novamente.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/" class="btn btn-primary btn-lg px-4 gap-3">Retornar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}